<div class="mega-menu-wrapper">
                <div class="mega-menu active">
                    <div class="mega-menu-content">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="mega-drop-img">
                                    <img src="assets/assets/imgs/mega-drop-map.png" alt="Mega drop down maps image">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="submenu-item-wrapper">
                                    <div class="col-md-12">
                                        <div class="sub-menu-title">
                                            <h2>Popular Countries We Target</h2>
                                            <div id="headerDivider">
                                                <div id="dividerStart"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="submenu-item">
                                            <li><a href="#">Afghanistan</a></li>
                                            <li><a href="#">Iraq</a></li>
                                            <li><a href="#">Kuwait</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="submenu-item">
                                            <li><a href="japan.html">Japan</a></li>
                                            <li><a href="#">Qatar</a></li>
                                            <li><a href="#">Guam</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>